@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
     /* Prevent scrolling */
    height: 100%;  /* Ensure full viewport usage */
    background-color: #241c3b;  /* Match your theme */
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the entire viewport height is utilized */
  }
  